name: Backend

on:
  workflow_call:
    inputs:
      container-registry:
        required: true
        type: string
      container-image-name:
        required: true
        type: string
      container-image-version:
        required: true
        type: string

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b
        with:
          enable-cache: true
          save-cache: ${{ github.ref == 'refs/heads/main' }}
      - name: Install project
        run: uv sync --all-extras
      - name: Run tests
        run: uv run pytest -q --html=test-report/index.html
      - name: Upload test report
        uses: actions/upload-artifact@v5
        with:
         name: test-reports
         retention-days: 3
         path: test-report

  audit-licenses:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b
        with:
          enable-cache: true
          save-cache: ${{ github.ref == 'refs/heads/main' }}
      - name: Install project
        run: uv sync --all-extras
      - name: Run license check
        run:  uv run licensecheck --requirements-paths "pyproject.toml" --zero --format csv --file "licence-report.csv"
      - name: Upload licence report
        uses: actions/upload-artifact@v5
        with:
          name: licence-reports
          retention-days: 3
          path: licence-report.csv