name: Deploy Staging

on:
  workflow_call:

jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    concurrency: deploy
    environment: staging
    permissions:
      id-token: write # Enable OIDC for gitsign
    steps:
      - name: Deploy new images
        uses: digitalservicebund/argocd-deploy@auth-token
        with:
          environment: staging
          version: ${{ github.sha }}
          deploying_repo: ris-pdf-printservice
          infra_repo: ris-pdf-printservice-infra
          github_app_private_key: ${{ secrets.GITOPS_NEURIS_APP_PRIVATE_KEY }}
          github_app_id: ${{ secrets.GITOPS_NEURIS_APP_ID }}
          app: ris-pdf-printservice-staging
          argocd_auth_token: ${{ secrets.ARGOCD_AUTH_TOKEN }}
          argocd_server: ${{ secrets.ARGOCD_SERVER_STACKIT }}
      - name: Track deploy
        continue-on-error: true
        uses: digitalservicebund/track-deployment@5a2815e150e1268983aac5ca04c8c046ed1b614a # v1.0.0
        with:
          project: ris-pdf-printservice
          environment: staging
          metrics_deployment_webhook_url: ${{ secrets.METRICS_DEPLOYMENT_WEBHOOK_URL }}
          metrics_webhook_token: ${{ secrets.METRICS_WEBHOOK_TOKEN }}
